/* Grids can exist in grids */

.item3 {
  background: PaleTurquoise;
  grid-area: content;
  /* enter your code below this line */
  display: grid;
  grid-template-columns: auto 1fr;

  /* enter your code above this line */
}
