/* Overriding variables */

:root {
  --penguin-skin: gray;
  --penguin-belly: pink;
  --penguin-beak: orange;
}

body {
  background: var(--penguin-belly, #c6faf1);
}

.penguin {

  /* add code below */
  --penguin-belly: white;
  /* add code above */

  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 300px;
  height: 300px;
}
