/* Resize and color using variables that change based on media query */

:root {
  --penguin-size: 300px;
  --penguin-skin: gray;
  --penguin-belly: white;
  --penguin-beak: orange;
}

@media (max-width: 350px) {
  :root {

    /* add code below */
     --penguin-size: 200px;
    --penguin-skin: black;
    /* add code above */

  }
}
